 
<h2>Live Cameras</h2>

<!-- Live camera feeds -->
{% comment %} {% for camera in cameras %} {% endcomment %}
    <img src="{% url 'video_feed' 0 %}" width="600">
{% comment %} {% endfor %} {% endcomment %}




<h2>Reports</h2>

<!-- Generated reports -->
{% for report in reports %}
    <p>{{ report.summary }}</p>
{% endfor %}

    <h2>Upload New Video</h2>
    
    <form method="POST"  enctype="multipart/form-data" action= '{%url 'upload'%}'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form> 

    

<h2>Uploaded Videos</h2>

    {%for video in videos%}
        <video width="400" controls>
        <source src="{{ video.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {%endfor%}